#!/bin/env bash

BASE_PATH="$(realpath "$(dirname "$0")")"
export BASE_PATH

DOCKER_IMAGE="miniautorizador"
DOCKER_TAG="latest"
export DOCKER_TAG

build() {
  _build_jar && \
  _build_docker_image

  if [ "$1" = "run" ]; then
    echo Running the built image....
    run
  fi
}

_build_jar() {
  local _OLD_PATH="$PWD"
  cd "$BASE_PATH" || return 1

  mvn package

  cd "$_OLD_PATH" || return 1
}

_build_docker_image() {
  docker build -t "$DOCKER_IMAGE:$DOCKER_TAG" "$BASE_PATH"
}

run() {
  if [ "$1" = "maven" ]; then
    _run_maven
  else
    _run_docker
  fi
}

_run_maven() {
  local _OLD_PATH="$PWD"
  cd "$BASE_PATH" || return 1

  mvn spring-boot:run

  cd "$_OLD_PATH" || return 1
}

_run_docker() {
  docker run "$DOCKER_IMAGE:$DOCKER_TAG"
}

build_and_run() {

}